<div class="h-full inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent z-50">
    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer -->
        <mat-drawer
            class="w-96 dark:bg-gray-900"
            (opened)="openedNav()"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #matDrawer>
            <div class="py-1 h-full flex flex-col overflow-hidden">
                <!-- Header -->
                <div class="flex flex-col flex-0 p-1 border-b dark:bg-transparent">
                    <mat-tab-group #tabGroup class="h-full overflow-y-auto">
                        <mat-tab [labelClass]="['text-sm', 'font-bold']" aria-label="fields" label="Menus">
                        </mat-tab>
                        <mat-tab [labelClass]="['text-sm', 'font-bold']" label="Subsistemas">
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="flex-auto w-full overflow-y-auto overflow-x-hidden">
                    <div class="flex flex-col flex-auto w-full h-full" [ngClass]="tabGroup.selectedIndex !== 0 ? 'hidden': ''">
                        <div class="flex-none flex justify-between items-center pt-1">
                            <div class="flex-none flex">

                            </div>
                            <div class="flex-none flex md:w-1/2 md:pr-1">
                                <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense no-label w-full">
                                    <mat-icon
                                        class="evolui-menu-item-icon"
                                        fontSet="fas" fontIcon="fa-search"
                                        matPrefix></mat-icon>
                                    <input
                                        [autocomplete]="'off'"
                                        class="text-sm"
                                        (input)="filterMenu($event)"
                                        matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex-1 overflow-y-auto" cdkScrollable>
                            <table #table mat-table matSort #sortMenu="matSort" [dataSource]="datasourceMenu" class="table-auto" (matSortChange)="announceSortChange($event)">

                                <ng-container matColumnDef="buttons">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <div class="flex flex-row items-center">
                                            <button mat-icon-button aria-label="Add" (click)="addMenu()">
                                                <mat-icon class="icon-size-3 text-blue-500" fontSet="fas" fontIcon="fa-plus"></mat-icon>
                                            </button>
                                            <button mat-icon-button aria-label="Add" (click)="refreshMenu()">
                                                <mat-icon class="icon-size-3 text-blue-500" fontSet="fas" fontIcon="fa-sync"></mat-icon>
                                            </button>
                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let model">
                                        <div class="flex flex-row items-center">
                                            <div>
                                                <button mat-icon-button aria-label="Edit" [disabled]="model.code === -1" (click)="editMenu(model.code)" matTooltip="Editar Menu">
                                                    <mat-icon class="icon-size-3 text-blue-500" fontSet="fas" fontIcon="fa-edit"></mat-icon>
                                                </button>
                                            </div>
                                            <button mat-icon-button aria-label="Delete" [disabled]="model.code === -1" (click)="deleteMenu(model.code)" matTooltip="Remover Menu">
                                                <mat-icon class="icon-size-3 text-red-500" fontSet="fas" fontIcon="fa-trash"></mat-icon>
                                            </button>

                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="code">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                    <td mat-cell *matCellDef="let model"> {{ model.code }} </td>
                                </ng-container>
                                <ng-container matColumnDef="caption">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
                                    <td mat-cell *matCellDef="let model"> {{ model.caption }} </td>
                                </ng-container>
                                <ng-container matColumnDef="visibility">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Visibilidade </th>
                                    <td mat-cell *matCellDef="let model"> {{ model.visibility }} </td>
                                </ng-container>
                                <ng-container matColumnDef="lockBy.name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Travado Para </th>
                                    <td mat-cell *matCellDef="let model"> {{ model.lockBy?.name }} </td>
                                </ng-container>
                                <ng-container matColumnDef="custom">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customizado </th>
                                    <td mat-cell *matCellDef="let model"> {{ model.custom | simNao }} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedMenuColumns; sticky: true"></tr>
                                <tr [ngClass]="row['selected'] ? 'selected': ''" class="cursor-pointer" (click)="expandMenus(row, $event, false)" [draggable]="true" (dragstart)="dragMenuRowStart($event, row)" mat-row *matRowDef="let row; columns: displayedMenuColumns;"></tr>
                            </table>
                        </div>

                    </div>
                    <div class="flex flex-col flex-auto w-full h-full" [ngClass]="tabGroup.selectedIndex !== 1 ? 'hidden': ''">
                        <div class="flex-none flex justify-between items-center pt-1">
                            <div class="flex-none flex">

                            </div>
                            <div class="flex-none flex md:w-1/2 md:pr-1">
                                <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense no-label w-full">
                                    <mat-icon
                                        class="evolui-menu-item-icon"
                                        fontSet="fas" fontIcon="fa-search"
                                        matPrefix></mat-icon>
                                    <input
                                        [autocomplete]="'off'"
                                        class="text-sm"
                                        (input)="filterSubsystem($event)"
                                        matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex-1 overflow-y-auto" cdkScrollable>
                            <table #table mat-table matSort #sortSubsystem="matSort" [dataSource]="datasourceSubsystem" class="table-auto" (matSortChange)="announceSortChange($event)">

                                <ng-container matColumnDef="buttons">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <div class="flex flex-row items-center">
                                            <button mat-icon-button aria-label="Add" (click)="addSubsystem()">
                                                <mat-icon class="icon-size-3 text-blue-500" fontSet="fas" fontIcon="fa-plus"></mat-icon>
                                            </button>
                                            <button mat-icon-button aria-label="Add" (click)="refreshSubsystem()">
                                                <mat-icon class="icon-size-3 text-blue-500" fontSet="fas" fontIcon="fa-sync"></mat-icon>
                                            </button>
                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let model">
                                        <div class="flex flex-row items-center">
                                            <div>
                                                <button mat-icon-button aria-label="Edit" [disabled]="model.code === -1" (click)="editSubsystem(model.code)" matTooltip="Editar Subsistema">
                                                    <mat-icon class="icon-size-3 text-blue-500" fontSet="fas" fontIcon="fa-edit"></mat-icon>
                                                </button>
                                            </div>
                                            <button mat-icon-button aria-label="Delete" [disabled]="model.code === -1 || model.code === 1" (click)="deleteSubsystem(model.code)" matTooltip="Remover Subsistema">
                                                <mat-icon class="icon-size-3 text-red-500" fontSet="fas" fontIcon="fa-trash"></mat-icon>
                                            </button>

                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="code">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                                    <td mat-cell *matCellDef="let model"> {{ model.code }} </td>
                                </ng-container>
                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
                                    <td mat-cell *matCellDef="let model"> {{ model.description }} </td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
                                    <td mat-cell *matCellDef="let model"> {{ model.status }} </td>
                                </ng-container>
                                <ng-container matColumnDef="plataform">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Plataforma </th>
                                    <td mat-cell *matCellDef="let model"> {{ model.plataform }} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedSubsystemColumns; sticky: true"></tr>
                                <tr [ngClass]="row['selected'] ? 'selected': ''" class="cursor-pointer" (click)="selectSubsystem(row, $event, false)" mat-row *matRowDef="let row; columns: displayedSubsystemColumns;"></tr>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">
            <!-- Header -->
            <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-1 border-b bg-card dark:bg-transparent">

                <div class="flex shrink-0 items-center mt-0 sm:mx-2">
                    <button class="min-h-7 h-7 "
                            mat-icon-button
                            (click)="matDrawer.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                    </button>
                    <button class="text-sm min-h-7 h-7 ml-2"
                            mat-flat-button
                            color="primary" (click)="save()">
                        <mat-icon
                            class="icon-size-4"
                            svgIcon="mat_solid:save"></mat-icon>
                        <span class="ml-2">Salvar</span>
                    </button>
                    <button class="text-sm min-h-7 h-7"
                            mat-flat-button
                            color="accent" (click)="revert()">
                        <mat-icon
                            class="icon-size-4"
                            svgIcon="mat_solid:undo"></mat-icon>
                        <span class="ml-2">Reverter</span>
                    </button>
                </div>
            </div>
            <div class="flex-auto flex flex-col p-2 overflow-auto">
                <mat-tree [dataSource]="dataSourceTree" [treeControl]="treeControl" class="menu-tree">
                    <!-- This is the tree node template for leaf nodes -->
                    <!-- There is inline padding applied to this node using styles.
                      This padding value depends on the mat-icon-button width. -->
                    <mat-tree-node *matTreeNodeDef="let node" [draggable]="node.type !== 'SUBSYSTEM'" (dragstart)="dragTreeMenuStart($event, node)">
                        <div class="flex items-center grow cursor-pointer" [ngClass]="node['selected']===true ? 'bg-primary' : ''" (dragover)="allowDrop($event, node)"
                             (drop)="onDrop($event, node)">
                            <div *ngIf="node.type !== LuthierItemMenuTreeTypeEnum.SUBSYSTEM" class="rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                <mat-icon
                                    [matMenuTriggerFor]="objectsMenu" [matMenuTriggerData]="{object: node}"
                                    class="evolui-menu-item-icon"
                                    fontSet="fas" fontIcon="fa-table-list"></mat-icon>
                            </div>
                            <div class="min-w-0 flex-1 ml-4" (click)="selectNode(node, $event)" (dblclick)="editNodeMenu(node)">
                                <div class="font-medium truncate leading-normal text-sm">{{node.caption}}</div>
                                <div
                                    class="text-secondary leading-5 text-sm">
                                    {{node.type | enumTranslate:'LuthierItemMenuTreeTypeEnum'}}
                                </div>
                            </div>
                        </div>
                    </mat-tree-node>
                    <!-- This is the tree node template for expandable nodes -->
                    <mat-nested-tree-node
                        *matTreeNodeDef="let node; when: hasChild" [draggable]="node.type !== 'SUBSYSTEM'" (dragstart)="dragTreeMenuStart($event, node)">
                        <div class="mat-tree-node" (dragover)="allowDrop($event, node)"
                             (drop)="onDrop($event, node)">
                            <button mat-icon-button matTreeNodeToggle
                                    [attr.aria-label]="'Toggle ' + node.caption">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            <div class="flex items-center grow overflow-x-hidden cursor-pointer" [ngClass]="node['selected']===true ? 'bg-primary' : ''">
                                <div *ngIf="node.type !== LuthierItemMenuTreeTypeEnum.SUBSYSTEM" class="rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                    <mat-icon
                                        [matMenuTriggerFor]="objectsMenu" [matMenuTriggerData]="{object: node}"
                                        class="evolui-menu-item-icon"
                                        fontSet="fas" fontIcon="fa-table-list"></mat-icon>
                                </div>
                                <div class="min-w-0 flex-1 ml-4" (click)="selectNode(node, $event)" (dblclick)="editNodeMenu(node)">
                                    <div class="font-medium truncate leading-normal text-sm">{{node.caption}}</div>
                                    <div
                                         class="text-secondary leading-5 text-sm">
                                        {{node.type | enumTranslate:'LuthierItemMenuTreeTypeEnum'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- There is inline padding applied to this div using styles.
                            This padding value depends on the mat-icon-button width.  -->
                        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                             role="group">
                            <ng-container matTreeNodeOutlet></ng-container>
                        </div>
                    </mat-nested-tree-node>
                </mat-tree>
                <mat-menu #objectsMenu>
                    <ng-template matMenuContent let-object="object">
                        <button mat-menu-item class="text-sm" (click)="removeMenu(object)">
                            <mat-icon class="evolui-menu-item-icon" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            Remover
                        </button>
                        <button mat-menu-item class="text-sm" (click)="moveMenuUp(object)" [disabled]="object.order === 1">
                            <mat-icon class="evolui-menu-item-icon" fontSet="fas" fontIcon="fa-arrow-up"></mat-icon>
                            Mover Pra Cima
                        </button>
                        <button mat-menu-item class="text-sm" (click)="moveMenuDown(object)" [disabled]="object.last === true">
                            <mat-icon class="evolui-menu-item-icon" fontSet="fas" fontIcon="fa-arrow-down"></mat-icon>
                            Mover Pra Baixo
                        </button>
                        <button mat-menu-item class="text-sm" (click)="cloneMenu(object)">
                            <mat-icon class="evolui-menu-item-icon" fontSet="fas" fontIcon="fa-equals"></mat-icon>
                            Clonar
                        </button>
                    </ng-template>


                </mat-menu>
            </div>

        </mat-drawer-content>

    </mat-drawer-container>


</div>
