<div class="h-full flex flex-col headers-align" [formGroup]="formSave">
    <div class="flex-none flex mb-2">
        <div [matTooltip]="canSave() === false ? showValidationsError() : ''">
            <button class="text-sm min-h-7 h-7"
                    mat-flat-button
                    [disabled]="canSave() === false"
                    color="primary" (click)="save()">
                <mat-icon
                    class="icon-size-4"
                    svgIcon="mat_solid:save"></mat-icon>
                <span class="ml-2">Salvar</span>
            </button>
        </div>
        <button class="text-sm min-h-7 h-7"
                mat-flat-button
                color="accent" (click)="revert()">
            <mat-icon
                class="icon-size-4"
                svgIcon="mat_solid:undo"></mat-icon>
            <span class="ml-2">Reverter</span>
        </button>
        <button class="text-sm min-h-7 h-7"
                mat-flat-button
                color="warn" [matMenuTriggerFor]="menuImportVision">
            <mat-icon
                class="icon-size-4"
                svgIcon="mat_solid:import_export"></mat-icon>
            <span class="ml-2">Importar</span>
        </button>
        <mat-menu #menuImportVision="matMenu">
            <button mat-menu-item (click)="readVisionFromClipboard()">
                <mat-icon [svgIcon]="'mat_outline:content_copy'"></mat-icon>
                Importar do Clipboard
            </button>
            <button mat-menu-item (click)="fileTableInput.click()">
                <mat-icon [svgIcon]="'mat_solid:file_download'"></mat-icon>
                Importar de Arquivo
            </button>
            <input type="file" #fileTableInput (change)="readVisionFromFile($event)" accept=".json" style="display: none;" />
        </mat-menu>
    </div>
    <div class="grid sm:grid-cols-12 gap-2 flex-none mb-2 mt-0">
        <div class="sm:col-span-3">
            <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense w-full">
                <mat-label class="text-sm">Código</mat-label>
                <mat-icon
                    class="evolui-menu-item-icon"
                    fontSet="fas" fontIcon="fa-list-ol"
                    matPrefix></mat-icon>
                <input
                    readonly
                    class="text-sm"
                    [formControlName]="'code'"
                    matInput>
            </mat-form-field>
        </div>
        <div class="sm:col-span-9"></div>
        <div class="sm:col-span-3">
            <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense w-full">
                <mat-label class="text-sm">Tipo</mat-label>
                <mat-icon
                    class="evolui-menu-item-icon"
                    fontSet="fas" fontIcon="fa-t"
                    matPrefix></mat-icon>
                <input
                    readonly
                    class="text-sm"
                    [value]="model.objectType"
                    matInput>
            </mat-form-field>
        </div>
        <div class="sm:col-span-9"></div>
        <div class="sm:col-span-6">
            <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense w-full">
                <mat-label class="text-sm">Nome</mat-label>
                <mat-icon
                    class="evolui-menu-item-icon"
                    fontSet="fas" fontIcon="fa-signature"
                    matPrefix></mat-icon>
                <input
                    class="text-sm"
                    [patterns]="customPatterns" mask="I*"
                    [formControlName]="'name'"
                    required
                    matInput>
            </mat-form-field>
        </div>
        <div class="sm:col-span-6"></div>
        <div class="sm:col-span-6">
            <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense w-full">
                <mat-label class="text-sm">Descrição</mat-label>
                <mat-icon
                    class="evolui-menu-item-icon"
                    fontSet="fas" fontIcon="fa-comments"
                    matPrefix></mat-icon>
                <input
                    class="text-sm"
                    [required]="true"
                    [formControlName]="'description'"
                    matInput>
            </mat-form-field>
        </div>
        <div class="sm:col-span-6"></div>
        <div class="sm:col-span-6">
            <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense w-full">
                <mat-label class="text-sm">Módulo</mat-label>
                <mat-icon
                    class="evolui-menu-item-icon"
                    fontSet="fas" fontIcon="fa-brain"
                    matPrefix></mat-icon>

                <mat-select class="text-sm" [formControlName]="'module'" [compareWith]="compareCode">

                    <ng-container *ngFor="let t of modules">
                        <mat-option [value]="t" >
                            {{t.name}}

                        </mat-option>
                    </ng-container>

                </mat-select>


            </mat-form-field>
        </div>
        <div class="sm:col-span-6"></div>
    </div>
</div>
