<div class="h-full flex flex-col headers-align" [formGroup]="formSave">
    <div class="flex-none flex mb-2">
        <button class="text-sm min-h-7 h-7"
                mat-flat-button
                color="primary" (click)="save()">
            <mat-icon
                class="icon-size-4"
                svgIcon="mat_solid:save"></mat-icon>
            <span class="ml-2">Salvar</span>
        </button>
        <button class="text-sm min-h-7 h-7"
                mat-flat-button
                color="accent" (click)="revert()">
            <mat-icon
                class="icon-size-4"
                svgIcon="mat_solid:undo"></mat-icon>
            <span class="ml-2">Reverter</span>
        </button>
    </div>
    <div class="grid sm:grid-cols-12 gap-2 flex-none mb-2 mt-0">
        <div class="sm:col-span-3">
            <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense w-full">
                <mat-label class="text-sm">Código</mat-label>
                <mat-icon
                    class="evolui-menu-item-icon"
                    fontSet="fas" fontIcon="fa-list-ol"
                    matPrefix></mat-icon>
                <input
                    readonly
                    class="text-sm"
                    [formControlName]="'code'"
                    matInput>
            </mat-form-field>
        </div>
        <div class="sm:col-span-9"></div>
        <div class="sm:col-span-3">
            <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense w-full">
                <mat-label class="text-sm">Tipo</mat-label>
                <mat-icon
                    class="evolui-menu-item-icon"
                    fontSet="fas" fontIcon="fa-t"
                    matPrefix></mat-icon>
                <input
                    readonly
                    class="text-sm"
                    [value]="model.objectType"
                    matInput>
            </mat-form-field>
        </div>
        <div class="sm:col-span-9"></div>
        <div class="sm:col-span-6">
            <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense w-full">
                <mat-label class="text-sm">Nome</mat-label>
                <mat-icon
                    class="evolui-menu-item-icon"
                    fontSet="fas" fontIcon="fa-signature"
                    matPrefix></mat-icon>
                <input
                    class="text-sm"
                    [formControlName]="'name'"
                    required
                    matInput>
            </mat-form-field>
        </div>
        <div class="sm:col-span-6"></div>
        <div class="sm:col-span-6">
            <mat-form-field [subscriptSizing]="'dynamic'" class="fuse-mat-xdense w-full">
                <mat-label class="text-sm">Descrição</mat-label>
                <mat-icon
                    class="evolui-menu-item-icon"
                    fontSet="fas" fontIcon="fa-comments"
                    matPrefix></mat-icon>
                <input
                    class="text-sm"
                    [required]="true"
                    [formControlName]="'description'"
                    matInput>
            </mat-form-field>
        </div>
        <div class="sm:col-span-6"></div>
    </div>
</div>
