<div class="inset-0 w-full h-full flex flex-col min-w-0 md:overflow-y-auto relative">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-2 sm:py-4 sm:px-4 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="flex flex-row flex-row-reverse mt-2 items-center">
                <div class="mr-2">
                    <button
                        mat-icon-button (click)="close()">
                        <mat-icon
                            class="icon-size-4"
                            [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                    </button>
                </div>
                <div class="w-full">
                    <h2 class="text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        Download de Arquivos da Pasta
                    </h2>
                    <p class="text-sm text-secondary">{{ data.folderName || data.folderPath }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div
        class="flex-auto overflow-y-auto p-3"
        cdkScrollable>

        <async-request-viewer [model]="asyncModel"></async-request-viewer>

        <div class="absolute bottom-0 right-0 z-50">
            <button
                class="mr-4 mb-4"
                (click)="cancel()"
                [disabled]="this.asyncModel.finalized"
                mat-flat-button
                type="button"
                [color]="'primary'">Cancelar
            </button>
        </div>
    </div>
</div>
