/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.evolui-menu-item-icon {
    @apply icon-size-4;
    overflow: visible !important;
}
#rootMainContent.readOnly {
    pointer-events: none;
    opacity: 60%;
}
/*
td {
    mat-form-field {
        display: inline-block !important;
        width: auto !important;
        .mat-mdc-input-element {
            width: auto !important;
        }

        .mat-mdc-form-field-flex {
            width: auto !important;
        }

        .mat-mdc-form-field-infix {
            width: auto !important;
        }
    }
}
 */
