<ng-content></ng-content>

<!-- @formatter:off -->
<ng-template let-highlightedCode="highlightedCode" let-lang="lang">
<div class="fuse-highlight fuse-highlight-code-container">
    <pre *ngIf="editable === false" [ngClass]="'language-' + lang" [ngClass]="customClass ? customClass : ''"><code [ngClass]="'language-' + lang" [innerHTML]="highlightedCode"></code></pre>
    <pre *ngIf="editable === true" contenteditable="true" [ngClass]="'language-' + lang" [ngClass]="customClass ? customClass : ''"><code [ngClass]="'language-' + lang" [innerHTML]="highlightedCode"></code></pre>
</div>
</ng-template>
<!-- @formatter:on -->
