
portal-luthier-history {
    .mat-mdc-header-cell,
    .mat-mdc-cell {
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 13px !important;
    }
    .mat-mdc-row:hover .mat-mdc-cell {
        background-color: lightgray;
    }

    .mat-mdc-row {
        cursor: pointer;
    }

    .mat-mdc-row:nth-child(even){
        background-color: inherit !important;
    }

    .mat-mdc-row:nth-child(odd){
        background-color: whitesmoke !important;
    }

    .mat-mdc-row.checked {
        background-color: darkseagreen !important;
    }

}
